# Files to ignore when considering what GIT should commit.

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak

# Specific Source build products
server.pdb
server.dll
server.lib

server.so
server.so.dbg
server_srv.so
server_srv.so.dbg

server.dylib
server.dylib.dSYM/

*.sln
*.slnx
*.vcproj
*.vcxproj
*.vcxproj.*
*.obj
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*
.vs/*
*.pdb
*.log
*.tlog
*.exp
*.FileListAbsolute.txt

*_Release/
*_Debug/
Release/x64/*
Debug/x64/*
Release_*/
Debug_*/
*.lastbuildstate
*.recipe

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
